#content-block {
    padding: 10px 25px;

    .compress-code {
        resize: none;
    }

    .toolbar, .tool-options {
        [type=checkbox] {
            margin-top: 5px;
        }

        .checkbox-inline {
            cursor: help;
        }
    }
}
