html {
    width: 100%;
    overflow-x: hidden;
}

html, body {
    font: 14px/24px "'Microsoft Yahei',Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif;
}

a, button {
    //bootstrap有针对btn.active做了黄色的边框处理
    outline: none !important;
}

//自定义chrome滚动条
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track-piece {
    /*background-color: #cfcfcf;*/
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #AAA;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #CCCCCC;
    border-radius: 6px;
}

/*#content {
    padding-top: 50px;
}*/

//小屏幕
$screen-sm-width: 768px;
//中屏幕
$screen-md-width: 940px;
//大屏幕
$screen-lg-width: 1200px;

.center {
    text-align: center;
}


.nav-box {
    border-radius: 0;
}
