.nav-box { border-radius: 0; }
#content-block { padding: 10px 25px; }
.compress-code { resize: none; }
html, body { font: 14px/24px "'Microsoft Yahei',Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif; }



