<div class="box-index">
    <div class="banner-box">
        <div class="banner" id="b-box">
            <div class='i-box1' ng-click="bannerClick($event)" data-index="1"><a href='javascript:;'><span>title1</span><img src="http://sandbox.runjs.cn/uploads/rs/376/tz2ofdap/1.jpg" /></a></div>
            <div class='i-box2' ng-click="bannerClick($event)" data-index="2"><a href='javascript:;'><span>title2</span><img src="http://sandbox.runjs.cn/uploads/rs/376/tz2ofdap/2.jpg" /></a></div>
            <div class='i-box3' ng-click="bannerClick($event)" data-index="3"><a href='javascript:;'><span>title3</span><img src="http://sandbox.runjs.cn/uploads/rs/376/tz2ofdap/3.jpg" /></a></div>
            <div class='i-box4' ng-click="bannerClick($event)" data-index="4"><a href='javascript:;'><span>title4</span><img src="http://sandbox.runjs.cn/uploads/rs/376/tz2ofdap/4.jpg" /></a></div>
            <div class='i-box5' ng-click="bannerClick($event)" data-index="5"><a href='javascript:;'><span>title5</span><img src="http://sandbox.runjs.cn/uploads/rs/376/tz2ofdap/5.jpg" /></a></div>
        </div>
    </div>
    <div class="main-box">
        <h4 class="center">快速通道</h4>
        <div class="row quick-box">
            <div class="col-md-3">
                <a href="javascript:;" class="quick-btn bg">
                    <h3 class="mar">快速压缩</h3>
                    <p>快速压缩JS/CSS/HTML</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="javascript:;" class="quick-btn q-logo sass">
                    <div>
                        <img src="../src/resource/logo-sass-b6e1ef6e.svg" height="50" width="130" />
                    </div>
                    <p>Sass编译</p>
                    <p>粘贴Sass快速编译成Css</p>
                </a>
            </div>

            <div class="col-md-3">
                <a href="javascript:;" class="quick-btn bg b-1">
                    <div style="padding-top:11px;">
                        <img src="../src/resource/babel.png" height="61" width="122" />
                    </div>
                    <p>JavaScript编译</p>
                    <p>粘贴JavaScript快速编译</p>
                </a>
            </div>
            <div class="col-md-3">
                <a href="javascript:;" class="quick-btn q-logo">
                    <div>
                        <img src="../src/resource/gulp-white-text.svg" height="50" width="130" />
                    </div>
                    <p>任务管理</p>
                    <p>配置压缩、编译等任务</p>
                </a>
            </div>
        </div>
    </div>
</div>