<section id="content-block">
    <div class="row">
        <div class="form-group toolbar">
            <span class="text-muted">编译 - </span>
            <button type="button" class="btn btn-info " ng-class="{'active':options.compile}" ng-click="options.toggleConfig()">编译选项 <span class="caret"></span></button>
        </div>
        <div class="panel panel-default tool-options" ng-show="options.compile">
            <div class="panel-heading">Babel - 编译选项</div>
            <!--压缩选项文档：https://babeljs.io/docs/plugins/-->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译字符串模板">
                            <input type="checkbox" ng-model="options.config.templateLiterals"> 字符串模板
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译箭头函数">
                            <input type="checkbox" ng-model="options.config.arrowFunctions"> 箭头函数
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="函数块级作用域">
                            <input type="checkbox" ng-model="options.config.blockScopedFunctions"> 函数块级作用域
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译Class">
                            <input type="checkbox" ng-model="options.config.classes"> 支持Class
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="对象快捷属性&#10;如obj = { x, y }">
                            <input type="checkbox" ng-model="options.config.shorthandProperties"> 对象快捷属性
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="重复属性转换&#10;当检测到属性重复，则采用[对象中括号属性]处理">
                            <input type="checkbox" ng-model="options.config.shorthandKeys"> 重复属性转换
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="对象中括号属性&#10;var obj = { ['x'] : 1 }">
                            <input type="checkbox" ng-model="options.config.computedProperties"> 对象中括号属性
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译for...of语法">
                            <input type="checkbox" ng-model="options.config.forOf"> for...of
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="正则新的标记/y（sticky-regex） - /^foo/y">
                            <input type="checkbox" ng-model="options.config.stickyRegex"> 正则标记(y)
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="正则新的标记/u（unicode-regex） - /\u{61}/u">
                            <input type="checkbox" ng-model="options.config.unicodeRegex"> 正则标记(u)
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译const常量">
                            <input type="checkbox" ng-model="options.config.constants"> const常量
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="扩展运算符&#10;function foo(bar,...values){ }">
                            <input type="checkbox" ng-model="options.config.spread"> ...values
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="默认参数值和扩展运算符&#10;function (a, b = 1, c :: String) { }">
                            <input type="checkbox" ng-model="options.config.parameters"> 参数默认值
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="赋值解构&#10;let { foo, bar } = foz();">
                            <input type="checkbox" ng-model="options.config.destructuring"> 赋值解构
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="let和const使用块级作用域">
                            <input type="checkbox" ng-model="options.config.blockScoping"> let和const作用域
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译typeof Symbol()">
                            <input type="checkbox" ng-model="options.config.typeofSymbol"> typeof symbol
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译为commonJS模块&#10;和AMD/UMD编译选项不兼容">
                            <input type="checkbox" ng-model="options.config.modulesCommonjs"> commonJS
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译为AMD模块&#10;和commonJS/UMC编译选项不兼容">
                            <input type="checkbox" ng-model="options.config.modulesAmd"> AMD
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译为UMD模块&#10;和commonJS/AMD编译选项不兼容">
                            <input type="checkbox" ng-model="options.config.modulesUmd"> UMD
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="为了安全性考虑，包装eval">
                            <input type="checkbox" ng-model="options.config.eval"> 包装eval
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译async函数">
                            <input type="checkbox" ng-model="options.config.asyncMethod"> async转换
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="编译Generator函数">
                            <input type="checkbox" ng-model="options.config.regenerator"> Generator
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control compress-code" rows="8" ng-model="oldCodeSource"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <div style="padding-top:9px;">
                        <span class="text-muted">编译信息 - </span>
                        <span class="text-info text-error">{{info||''}}</span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" ng-show="!compressoring" ng-click="compressor()">&nbsp;&nbsp;&nbsp;编&nbsp;&nbsp;&nbsp;译&nbsp;&nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-default" ng-click="compressor()" ng-disabled="compressoring" ng-show="compressoring"><i class="fa fa-refresh fa-spin fa-1x fa-fw margin-bottom"></i> 编译中</button>
                    </div>
                </div>
            </div>
            <!--<div class="container-fluid">
                <div class="row">
                    <blockquote>
                        <p></p>
                    </blockquote>
                </div>
            </div>-->
        </div>
        <div class="form-group">
            <textarea class="form-control compress-code" rows="8" ng-model="newCodeSource"></textarea>
        </div>
        <div class="container-fluid" ng-show="isErrorResult">
            <div class="row">
                <pre>{{errorText}}</pre>
            </div>
        </div>
    </div>
</section>