<section id="content-block">
    <div class="row">
        <div class="form-group toolbar">
            <span>压缩类型</span>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{compressType == 0 ?'JavaScript':'CSS'}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;" ng-click="selectType(0)">JavaScript</a></li>
                    <li><a href="javascript:;" ng-click="selectType(1)">CSS</a></li>
                </ul>
            </div>
            <label class="checkbox-inline">
                <input type="checkbox" ng-checked="nomunge"> 只压缩, 不混淆
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-checked="ps"> 保留不重要的分号(比如'}'前面的分号)
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-checked="do"> 禁止优化
            </label>
        </div>
        <div class="form-group">
            <textarea class="form-control compress-code" rows="8" ng-model="oldCodeSource"></textarea>
        </div>
        <div class="form-group">
            <div class="col-md-8"><span>压缩信息</span></div>
            <div class="col-md-4 text-right">
                <div class="form-group">
                    <button type="button" class="btn btn-default" ng-click="compressor()">&nbsp;&nbsp;压&nbsp;&nbsp;缩&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control compress-code" rows="8" ng-model="newCodeSource"></textarea>
        </div>
    </div>
</section>