<section id="content-block">
    <div class="row">
        <div class="form-group toolbar">
            <span class="text-muted">编译 - </span>
            <button type="button" class="btn btn-info " ng-class="{'active':jsConfig.jsComprssConfig}" ng-click="jsConfig.toggleConfig()">编译选项 <span class="caret"></span></button>
        </div>
        <div class="panel panel-default tool-options" ng-show="jsConfig.jsComprssConfig">
            <div class="panel-heading">Babel - 编译选项</div>
            <!--压缩选项文档：https://babeljs.io/docs/plugins/-->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="合并多个变量声明，加入连续的var语句&#10;关闭后易于压缩代码调试，但会降低压缩率">
                            <input type="checkbox" ng-model="jsConfig.options.join_vars"> 合并多个变量声明
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="函数声明置顶&#10;关闭后易于压缩代码调试，但会降低压缩频率">
                            <input type="checkbox" ng-model="jsConfig.options.hoist_funs"> 函数声明置顶
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="变量声明置顶&#10;关闭后易于压缩代码调试，但会降低压缩频率">
                            <input type="checkbox" ng-model="jsConfig.options.hoist_vars"> 变量声明置顶
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="删除调试器和调试语句（debugger）&#10;例如console.log">
                            <input type="checkbox" ng-model="jsConfig.options.drop_debugger"> 删除调试语句
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="删除运行不到的代码">
                            <input type="checkbox" ng-model="jsConfig.options.dead_code"> 删除运行不到的代码
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="删除没用的变量、函数">
                            <input type="checkbox" ng-model="jsConfig.options.unused"> 删除没用的声明
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="优化循环&#10;当我们可以静态的判断条件的取值时，针对do,while和for循环的优化">
                            <input type="checkbox" ng-model="jsConfig.options.loops"> 优化循环
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="优化if-else表达式">
                            <input type="checkbox" ng-model="jsConfig.options.if_return"> 优化if-else表达式
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="优化条件表达式（转换成二元）">
                            <input type="checkbox" ng-model="jsConfig.options.conditionals"> 优化条件表达式
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="优化常量表达式（尝试去计算常量表达式）">
                            <input type="checkbox" ng-model="jsConfig.options.evaluate"> 优化常量表达式
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="优化逻辑操作符">
                            <input type="checkbox" ng-model="jsConfig.options.comparisons"> 优化逻辑操作符
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="优化布尔表达式&#10;例如 - !!a ? b : c = a ? b : c">
                            <input type="checkbox" ng-model="jsConfig.options.booleans"> 优化布尔表达式
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline" title="类似a['foo'] 智能优化为 a.foo">
                            <input type="checkbox" ng-model="jsConfig.options.properties"> 智能对象转换
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control compress-code" rows="8" ng-model="oldCodeSource"></textarea>      
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <div style="padding-top:9px;">
                        <span class="text-muted">编译信息 - </span>
                        <span class="text-info text-error">{{info||''}}</span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" ng-show="!compressoring" ng-click="compressor()">&nbsp;&nbsp;&nbsp;编&nbsp;&nbsp;&nbsp;译&nbsp;&nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-default" ng-click="compressor()" ng-disabled="compressoring" ng-show="compressoring"><i class="fa fa-refresh fa-spin fa-1x fa-fw margin-bottom"></i> 编译中</button>
                    </div>
                </div>
            </div>
            <!--<div class="container-fluid">
                <div class="row">
                    <blockquote>
                        <p></p>
                    </blockquote>
                </div>
            </div>-->
        </div>
        <div class="form-group">
            <textarea class="form-control compress-code" rows="8" ng-model="newCodeSource"></textarea>
        </div>
        <div class="container-fluid" ng-show="isErrorResult">
            <div class="row">
                <pre>{{errorText}}</pre>
            </div>
        </div>
    </div>
</section>